
    <div class="header-top">
        <h1>Hacker News</h1>
        <div class="links">
            <a href="/contributions/new">Submit</a>
            <a href="/asks">Asks</a>
        </div>
        <div class="user">User name</div>
    </div>