<!DOCTYPE html>
<html>
  <head>
    <title>Home | Hacker News</title>
  </head>
  <body>
      <div class="page">
    <div class="header-top">
        <h1>Hacker News</h1>
        <div class="links">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
        </div>
        <div class="user">Victor</div>
    </div>
    
    <div class="home-content">
      <div class="contributions">
          
        <% @contributions.each.with_index(1) do |contribution, index| %>
      
          <div class="item">
            <span class="rank"><%= index %>.</span>
            <span><%= contribution.titulo %></span>
            <span class="url">(<%= contribution.url %>)</span>
          </div>
        
        <% end %>
      
      </div>
      
    </div>
    </div>
  </body>
</html>