<md-content>
    <md-toolbar class="md-tall">
      
		<div class="header-top">
	       <a href="/" class="logo"><h1>Hacker News</h1></a>
	       <div class="links">
	           <% if current_user %>
	               <a href="/contributions/new">Submit</a>
	           <% else %>
	               <%= link_to 'Submit', '/auth/twitter' %>
	           <% end %>
	           <a href="/asks">Asks</a>
	           <% if current_user %>
	               <a href="/users/<%= current_user.id %>/threads"> Threads</a>
	           <% end %>
	       </div>
	       <div class="user">
	           <% if current_user %>
	               <a href="/users/<%= current_user.id %>"> 
	               <%= current_user.name %>
	               </a>
	               <%= link_to 'Sign out', '/sign_out', method: :delete %>
	           <% else %>
	               <%= link_to 'Sign in with Twitter', '/auth/twitter' %>
	           <% end %>
	       </div>
	   </div>

    </md-toolbar>
</md-content>
<div ui-view></div>