<!DOCTYPE html>
<html>
  <head>
    <title>Home | Hacker News</title>
  </head>
    <%= render 'static_pages/header' %>
    <%= render 'static_pages/menu' %>
    
    <div class="page-content">
      <div class="asks">
         <%= render @asks %>
          
        
      
      </div>
      
    </div>
    <%= render 'static_pages/footer' %>
  
</html>
