<h3>Login</h3>
<%= render 'loginform' %>

<h4>Passwords should be at least 8 characters. Please choose another. </h4>

<h3>Create Acount</h3>

<%= render 'newform' %>

<%= link_to 'Back', users_path %>
