<table>
  <tbody>
    <tr>
      <td>User</td>
      <td> <%=@user.name %> </td>
    </tr>
    <tr>
      <td>karma</td>
      <td><%=@user.karma %></td>
    </tr>
    <tr>
      <td>about</td>
      <td><%=@user.about %></td>
    </tr>
  </tbody>
</table>
