<% provide(:title, @user.name) %>
<div>
  <aside>
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<%= link_to 'Contributions', contributions_path(@user) %> |
<%= link_to 'Comments', users_path %>
