<div ng-app="routing">
    <div class="contributions" ng-repeat="x in contributions">
		<div ng-if="angular.isUndefined(x.url) || x.url === null">
			<div class="first-line">
				<div class="vote" ng-click="voteContribution(x.id)"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
				<a href="/#/contributions/{{x.id}}"> {{ x.titulo }} </a>			
			</div>
			<span> {{x.puntos}} puntos</span>
			<span><a href="/#/users/{{x.user_id}}"> by {{x.autor}} </a> </span>
			<span> <time am-time-ago= x.created_at ></time>  </span>
			<span> <a href="/#/contributions/{{x.id}}">  {{x.comments + x.replies}} comments </a> </span>
		</div>
    </div>
</div>