<div class="contribition ">
	<div class="firts-line">
		<h1>{{titulo}}</h1> 
		<div class="url">{{url}}</div>
	</div>
	<div class="second-line">
		<div>{{puntos}} points</div>
		<div>by {{autor}}</div>
		<div>{{date}}</div>
	</div>
</div>

<div class="do-comment">
	<form ng-submit="sendComment()">
	    <input ng-model="newComment"/>
	    <button type="submit">Send</button>
	</form>
</div>

<div class="comments">
	<div class="comment-item" ng-repeat="comment in comments">
		<div class="firts-line">
			<div class="name">{{comment.id}}</div>
			<div class="date">{{comment.date}}</div>
			<div class="points">{{comment.puntos}}</div>
		</div>
		<div class="secont-line">
			{{comment.content}}
		</div>
		<div class="reply">
			
		</div>
		<div class="replies">
			<div class="reply-item" ng-reapeat="reply in replies">
				<div class="firts-line">
					<div class="name">{{reply.id}}</div>
					<div class="date">{{reply.date}}</div>
					<div class="points">{{reply.puntos}}</div>
				</div>
				<div class="secont-line">
					{{reply.content}}
				</div>
			</div>
		</div>
	</div>
</div>