<div class="col-lg-12">
    <div class="row">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nº</th>
              <th>Title</th>
              <th>Description</th>
              <th>Date</th>
              <th></th>
            </tr>
            </thead>
            <tbody >
            <tr ng-repeat="contribution in contributions">
              <td>{{$index+1}}</td>
              <td>{{task.title}}</td>
              <td>{{task.description}}</td>
              <td>{{task.dueDate | date: 'dd/MM/yyyy'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
    <a ui-sref="taskslist.single"><h3>{{task.title}}</h3></a>
  </div>
</div>
