/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page {
    margin: 10px auto;
    max-width: 85%;
    background: #F6F6EF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #FF6600;
}

.header-top h1 {
    line-height: 15px;
    font-size: 15px;
    padding: 0 15px;
}

.header-top .links {
    width: 70%;
}

.header-top .user { 
    padding: 0 15px;
}

.page-content {
    padding: 20px 15px;
}

.contributions .item .titulo {
    color: #000;
}

.contributions .item {
    display: flex;
}

.contributions .item .rank {
    margin-right: 5px;
}

.contributions .item .url,
.contributions .item .url a {
    font-size: 10px;
    color: #828282;
}

.contributions .item .bottom {
    color: #828282;
    font-size: 10px;
}

body a {
    text-decoration: none;
    transition: all 0.5s ease;
    position: relative;
    display: inline-block;
}

body a:hover {
    color: #000;
    background: initial;
}

body a:before {
    content: "";
    display: table;
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    background: #000;
    transition: width 0.5s ease;
}

body a:hover:before {
    width: 100%;
    
}

.field .label {
    float: left;
    min-width: 50px;
}

.field #comment_content {
    width: 100%;
    max-width: 500px;
    height: 150px;
}

.comentarios {
    font-size: 12px;
}

.comentarios .top {
    font-size: 11px;
    color: #7d7d7d;
}

.replies {
    padding-left: 40px;
    margin-bottom: 20px;
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper .title {
    min-width: 100px;
}