/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.page {
    margin: 10px auto;
    max-width: 85%;
    background: #F6F6EF;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background: #FF6600;
}

.header-top h1 {
    line-height: 15px;
    font-size: 15px;
    padding: 0 15px;
}

.header-top .links {
    width: 70%;
}

.header-top .user { 
    padding: 0 15px;
}

.home-content {
    padding: 20px 15px;
}